.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* grid-template-columns: auto auto; */
  grid-gap: var(--space-2xl);
}

.card {
  overflow: hidden;
  border-radius: 1rem;
  height: fit-content;
  width: 100%;
}

.title {
  display: inline-block;
  font-size: var(--text-xl);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-sm);
  border-bottom: 1.5px solid transparent;
  font-weight: bolder;
}

/* .description {
  color: var(--greyLight);
} */

.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .article-list {
    grid-gap: var(--space-lg);
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .card {
    /* width: 80%; */
    height: fit-content;
  }
  .description {
    display: none;
  }
}
