.footerContainer {
  border-top: 1px solid var(--border);
  font-size: var(--text-sm);
  /* margin-top: var(--space-2xl); */
  background: black;
  padding: var(--space-2xl) 2rem;
  width: 100%;
  /* position: relative; */
  bottom: 0;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(var(--size-max-width) - 5rem);
}

.container a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}

.container a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.footerTag {
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .footerContent {
    display: block;
    text-align: center;
  }

  .footerTag {
    font-size: 13px;
    padding-bottom: 2rem;
  }
}
