.container {
  border-top: 1px solid var(--border);
  font-size: var(--text-sm);
  margin-top: var(--space-2xl);
  /* padding: var(--space-2xl) 2rem; */
  margin: 0 auto;
  max-width: calc(var(--size-max-width) - 5rem);
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.container a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}

.container a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.footerTag {
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }

  .footerTag {
    font-size: 13px;
    padding-bottom: 1rem;
  }
}
