.tags {
  display: flex;
  gap: var(--space-md);
  margin-bottom: 3rem;
}

.tag {
  border: 1px solid #efefef;
  background-color: #343434;
  border-radius: var(--radius-sm);
  line-height: var(--solid);
  padding: var(--space-md) var(--space-lg);
}
